html {-webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
body {background-color: #fdfdfd; color: #2c3c4c; margin: 0; font-size: 14px;}
h1 {margin-bottom: 32px; font-size: 2.6em;}
h2 {margin-top: 48px; font-size: 1.6em;}
h1, h2 {color: #234;}
h3, h4, h5 {color: #345;}
h3 {font-size: 1.4em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1.1em;}
h1, h2, h3, h4, h5, a, p, span, body, div {font-weight: normal; font-family: 'Lato', Verdana, Helvetica, sans-serif;}
.header {background: linear-gradient(to bottom, #f5f5f8 10%, #f1f1f5 90%); width: 100%; padding-top: 16px; padding-bottom: 32px;}
.header-profile-picture, .header-text {display: inline-block;}
.header-name h1 {margin: 0;}
.header-subtitle {margin-bottom: 12px; font-size: 1.1em;}
.header-profile-picture {width: 100px; height: 100px; margin-right: 12px; border-radius: 50%; background-image: url(assets/me.jpg); background-position: center; background-size: contain;}
.content {max-width: 780px; padding-left: 18px; padding-right: 18px; margin: auto; margin-top: 48px;}
.hr {width: 100%; height: 1px; margin: 48px 0; background-color: #d6dbdf;}
a {color: #2471a3; text-decoration: none;}
a:focus, a:hover {color: #f09228;}
p {line-height: 1.5em; font-size: 1.0em; margin-bottom: 1.2em;}
.nobreak {white-space: nowrap;}
.noselect {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.bold {font-weight: bold;}
.italic {font-style: italic;}
.bulletpoints {line-height: 1.5em; font-size: 1.0em;}
.row {box-sizing: border-box;}
.row-media {display: block; float: left; width: 160px; height: 90px; background-position: center; background-size: contain; background-repeat: no-repeat;}
.row-text {display: block; float: left; margin-left: 12px; line-height: 1.5em; max-width: 566px; font-size: 1.0em;}
.row-text span {line-height: inherit;}
.clearfix {content: ""; clear: both; display: table;}
.publication {margin-bottom: 36px; padding-left: 8px;}
.publication.highlight {background-color: #fff8df; width: 100%; padding: 12px 8px; border-radius: 4px;}
.publication-title {font-size: 1.05em; line-height: 1.4em; display: inline-block; margin-bottom: 0.4em;}
.press {width: 100px; height: 80px; border: 1px solid #def; margin-right: 12px; background-size: cover;}  
.img-contain {background-size: contain !important;}
.footer {background-color: #345; width: 100%}
.footer-content {color: #fff; font-size: 11px; padding: 6px 0; max-width: 748px; margin: auto;}
.footer-content a {color: #fff; text-decoration: underline;}
.footer-content a:hover {color: #f09228 !important;}
.stars {font-size: 11px; display: inline-block; margin-left: 6px; color: #666;}
.btn {font-size: 1.0em;}
.bulletin-points {line-height: 1.5em; font-size: 1.0em;}

@media only screen and (max-width: 1150px) {
    .header-profile-picture, .header-text {display: block; margin: auto; text-align: center;}
    .header-profile-picture {margin-bottom: 12px; width: 140px; height: 140px;}
    body {font-size: 16px;}
    a.btn {font-size: 14px; padding: 2px 6px;}
    h1 {font-size: 2.4em;}
    h2 {font-size: 1.6em;}
    h3 {font-size: 1.3em;}
    .content {padding-left: 20px; padding-right: 20px;}
}

@media only screen and (max-width: 1000px) {
    .publication {margin-bottom: 46px;}
    .publication .row-media {width: 260px; height: 130px; margin: auto; margin-bottom: 12px; display: block;}
    .publication .row-text {display: block; width: 100%; margin-left: 0;}
    .press {display: block;}
    .datetime {flex-basis: 30%;}
}

@media only screen and (max-width: 600px) {
    body {font-size: 15px;}
    h1 {font-size: 2.0em;}
    h2 {font-size: 1.4em;}
    .content {padding-left: 16px; padding-right: 16px;}
    .presentation {flex-direction: column;}
    .datetime {flex-basis: 100%; padding-bottom: 0;}
    .details {padding-top: 0;}
}

.experience-list {
    list-style-type: none;
    padding: 0;
}

.experience-list li {
    margin-bottom: 20px;
}

.time {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

.experience {
    display: inline-block;
}

/*.presentations {*/
/*    list-style-type: none;*/
/*    padding: 0;*/
/*}*/

/*.presentations li {*/
/*    margin-bottom: 20px; !* Adjust the space between entries *!*/
/*}*/

/*.date {*/
/*    display: inline-block;*/
/*    width: 80px; !* Adjust the width for alignment *!*/
/*    font-weight: bold;*/
/*    min-width: 150px; !* Minimum width for the date *!*/
/*    vertical-align: top; !* Align the date to the top of the text *!*/
/*}*/

/*.details {*/
/*    display: inline-block;*/
/*    vertical-align: top; !* Align the details to the top *!*/
/*    max-width: calc(80%); !* Max width allows the text to wrap *!*/
/*}*/

/*.title {*/
/*    font-weight: bold;*/
/*}*/

/*.event {*/
/*    font-size: 0.9em; !* Smaller font size for the event *!*/
/*    color: #555; !* Grey color for the event *!*/
/*}*/

.presentations {
  list-style-type: disc;
  padding-left: 5px;
  margin: 0;
  font-size: 1.0em;
}

.presentation {
  display: flex;
}

.datetime {
  flex-basis: 25%;
  vertical-align: top;
  padding: 5px; /* Adjust padding as needed */
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 1.0em;
}

.date {
  font-weight: bold;
  font-size: 1.0em;
}

.details {
  flex-basis: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-weight: bold;
  font-size: 1.0em;
}

.event {
  font-size: 0.95em; /* Slightly larger font size for the event */
  color: #555; /* Grey color for the event */
}

.news {
  font-size: 1.0em;
  color: #000;
}

